:root{
  --primary-color: #0A1128;
  --white: #fff;
  --light-gray-color: #bdbdbd;
  --secondary-color: crimson;
  --gap: 30rem;
}

/*
font-family: 'Lato', sans-serif;
font-family: 'Montserrat', sans-serif;
font-family: 'Open Sans', sans-serif;
*/
html {
  scroll-behavior: smooth;
}

body{
  font-family:  'Lato', sans-serif;;
  font-size: 20rem;
  color: var(--primary-color);
  line-height: 1.5;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Montserrat', sans-serif;
}

h1 {
  font-size: 50rem;
  text-transform: uppercase;
}

h2{
  font-size: 45rem;
}

h3{
  font-size: 40rem;
}

h4{
  font-size: 35rem;
}

h5{
  font-size: 30rem;
}

h6{
  font-size: 25rem;
}

p {
  margin-bottom: 30rem;
}

.main-bg-d{
  background-image: url("/assets/img/main-bg-d.svg");
  background-size: cover;
  background-position: center center;
  color: var(--white);
}

.main-bg-w {
  background-image: url("/assets/img/main-bg-w.svg");
  background-size: cover;
  background-position: center center;
  color: var(--primary-color);
}

.main-bg-w h2 {
  color: var(--primary-color);
  text-transform: uppercase;
  margin-bottom:30rem;
}

.white-bg {
  background: var(--white);
  color: var(--primary-color);
}

.main-content {
  max-width: 1200rem;
  margin: 0 auto;
  padding: 100rem var(--gap);
}

.section {
  min-height: 100vh;
}

.menu {
  color: var(--primary-color);
  position: fixed;
  z-index: 1;
  left: 0;
  right: 0;
  width: 100%;
  border-bottom: var(--light-gray-color) solid 1rem;
}

.menu-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 0;
  padding-bottom: 0;
}

.menu h1 {
  font-size: 23rem;
  color: var(--primary-color);
}

.menu h1 a {
  color: inherit;
}

.menu ul {
  display:flex ;
}

.menu ul li a {
  display: block;
  padding: 20rem;
  font-size: 18rem;
  color: var(--primary-color);
  position: relative;
}

.menu ul li a::after{
  content: '';
  position: absolute;
  bottom: 12rem;
  left: 50%;
  width: 0;
  height: 2rem;
  background: var(--secondary-color);
  transition: all 300ms ease-in-out;
}

.menu ul li a:hover:after{
  width: 50%;
  left: 25%;
}

.menu-spacing {
  height: 65rem;
}

section h2 {
  color: var(--white);
}

.intro-content {
  position: relative;
  /*top: -80rem;*/
  display: grid;
  grid-template-columns: 1fr 1.5fr;
  gap: var(--gap);
  min-height: 100vh;
}

.intro-text-content, .intro-img {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
}

.intro-text-content h2 {
  font-size: 60rem;
  margin-bottom: 50rem;
  text-transform: uppercase;
  line-height: 1.2;
}

.intro-img img {
  max-width: 100%;
}

.intro-top3-content {
  display: flex;
  flex-flow: column wrap;
  min-height: 100vh;
  justify-content: center;
  max-width: 640rem;
  text-align: center;
}

.top3-content {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  min-height: 100vh;

}

.grid-main-heading {
  margin-bottom: 10rem;
  text-transform: uppercase;
}

.grid-description {
  padding-bottom: 20rem;
}

.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: var(--gap);
  counter-reset: gridcounter;
}

.grid h3 {
  font-size: 40rem;
  position: relative;
  padding-left: 50rem;
  padding-bottom: 30rem;
}

.grid h3::before{
  counter-increment: gridcounter;
  content: counter(gridcounter);
  position: absolute;
  font-size: 70rem;
  font-style: italic;
  top: -30rem;
  left: -10rem;
  transform: rotate(5deg);
}

.gallery-img  {
  width: 100%;
  max-width: 360rem;
  max-height: 360rem;
  overflow: hidden;
}

.gallery-img img {
  transition: all 300ms ease-in-out;
}

.gallery-img img:hover {
  transform: translate(-3%, 3%) scale(1.2) rotate(5deg);
}

body .full-width {
  width: 100%;
  flex: 1 1 100%;
}

table {
  min-width: 360rem;
  width: 100%;
  border-collapse: collapse;
}

table caption {
  font-style: italic;
  font-size: 16rem;
  text-align: left;
  margin-bottom: 10rem;
}

table td, table th {
  white-space: nowrap;
  text-align: left;
  border: 1rem solid var(--light-gray-color);
  padding: 10rem;
}

tfoot td, thead th {
  background: var(--light-gray-color);
}

.responsive-table {
  overflow-x: auto;
}

.contact-form {
  grid-column: span 2;
}

.contact-form .form-grid {
  border: none;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: var(--gap);
}

.form-grid legend {
  font-style: italic;
  font-size: 16rem;
  margin-bottom: 20rem;
}

.form-group {
 flex: 1 1 320px;
}

.form-group label {
  display: block;
  margin-bottom: 10rem;
}
.form-group input, 
.form-group textarea {
  font-size: 20rem;
  border: none;
  background: var(--white);
  padding: 15rem 20rem;
  width: 100%;
  font-family: 'Lato', sans-serif;
}

.form-group input:focus, 
.form-group textarea:focus{
  box-shadow: 0 0 10rem 2rem var(--secondary-color);
}

.form-group button {
  border: solid 2.5rem var(--white);
  background: none;
  color: var(--white);padding: 15rem 20rem;
  font-size: 20rem;
  cursor: pointer;
  transition: all 300ms ease-in-out;
}

.form-group button:hover {
  background: var(--white);
  color: var(--primary-color);
}

.form-group::placeholder {
  color: var(--light-gray-color);
}

#footer {
  text-align : center
}

#footer p {
  margin: 0 ;
  padding: 30rem;
}

#footer a{
  color: #444;
}

.heart{
  color: var(--secondary-color);
  font-size: 16rem;
}

@media (max-width: 800px){
  .intro-content,
  .grid {
    grid-template-columns: 1fr;
  }

  .gallery-img {
    width: 100%;
    max-width: 100%;
    max-height: 100%;
  }

  .gallery-img img {
    width: 100%;
  }

  .top3-content {
    display: block;
  }
}